@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//FONTS
$card-title: 18px;
$light: 300;
$regular: 400;
$bold: 500;
$font-family: 'Rubik';

// COLORS 
$profile: hsl(246, 80%, 60%);
$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$selfCare: hsl(43, 84%, 65%);

$bg-color: hsl(226, 43%, 10%);
$bg-container: hsl(235, 46%, 20%);
$not-active: hsl(235, 45%, 61%);
$color: hsl(236, 100%, 87%);
$white: hsl(219, 100%, 92%);

//BREAKPOINTS
$breakpoints: (
  "small": 20em,        // 320px
  "tablet": 48em,       // 768px
  "laptop": 64em,       // 1024px
  "desktop": 90em       // 1440px
);